div{
        background-color: blanchedalmond;
        border-radius: 4px;
        padding: 20px;
        border: 2px solid black;
}
input[type=text],select{
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    padding: 13px 22px;
    box-sizing: border-box;
    margin: 10px 0;
}
#subject{
   height: 160px; 
   width: 100%;
   margin-top: 10px;
}
input[type=submit]{
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: black;
    color: white;
}